body{
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
}

header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    color: aquamarine;
    margin: 15px;
    text-decoration: none;
    padding: 6px 10px;
}

.lasy{
    color: aqua;
    background-color: rgb(89, 110, 110);
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    transform: 0,7s;
}

.lasy:hover{
     background-color: rgb(120, 148, 148);
     transform: scale(1.2);
}

button{
    font-family: 'PT Sans Narrow', sans-serif;
    color: aqua;
    background-color: rgb(89, 110, 110);
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    transform: 0,7s;
}

button:hover{
    background-color: rgb(120, 148, 148);
     transform: scale(1.2);
}

main{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.616)), url(ball.jpg); 
    color: aliceblue;
    min-height: 80vh;
    background-size: cover;
    text-align: center;
    padding-top: 6vh;
}
h1{
    margin: 0;
    font-size: 60px;
}

.p1{
    font-size: 
}

.s{

}

* {box-sizing: border-box;}
form {
  position: relative;
  width: 250px;
  margin: 0 auto;
}
input, .vip {
  border: none;
  outline: none;
  border-radius: 3px;
}
input {
  width: 100%;
  height: 42px;
  background: #F9F0DA;
  padding-left: 15px;
}
.vip{
  height: 12px;
  width: 12px;
  position: absolute;
  top: 8px;
  right: 4px;
  background: ;
  cursor: pointer;
  background-size: black;
}
.vip:before {
  content: "\f105";
  font-family: FontAwesome;
  color: #F9F0DA;
  font-size: 10px;
  font-weight: bold;
}
aside{
    display: flex;
    justify-content: space-around;
     padding: 20px 0;
}

div{
    border: black 1px solid;
    width: 32%;  
    padding: 20px;
    text-align: center;
    background-color: cadetblue;  
}

footer{
    background-color: midnightblue;
    color: aqua;
    padding: 30px;
}

img{
    max-width: 100%;
}

@media(max-width: 500px){
    header{
        display: block;
        padding: 15px 5px;
        text-align: center;
    }
    header a{
        display: inline-block;
    }
    h1{
        font-size: 40px;
    }
    .p1{
        font-size: 20px;
    }
    aside{
        display: block;
    }
    div{
        width: 100%;
        margin: 0px auto;
    }
    img{
        max-width: 100% ;
    }
}